---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mí:">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Diseñando soluciones digitales a medida de tu negocio:
      <ul class="list-disc list-inside">
        <li role="link">JavaScript</li>
        <li role="link">React</li>
        <li role="link">Python</li>
        <li role="link">Astro</li>
        <li role="link">Django</li>
        <li role="link">SQL</li>
        <li role="link">HTML</li>
        <li role="link">CSS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      No solo hablo el lenguaje del código; hablo el lenguaje de los negocios. Cuando otros ven líneas de programación, yo descubro potenciales ingresos y conversiones esperando ser desbloqueadas.
  </div>
</Card>
